<script setup>
const props = defineProps(['text1', 'text2']);
</script>

<template>
  <div class="component">
    <h2>MyComponent</h2>
    <p>text1: {{ text1 }}</p>
    <p>text2: {{ text2 }}</p>
  </div>
</template>

<style scoped>

</style>