<script setup>
import { ref } from 'vue';

// data
const picked = ref('two');
</script>

<template>
  <div class="component">
    <h2>MyRadio</h2>
    <div><label for="option1">Option 1</label>
      <input type="radio" name="group" id="option1" v-model="picked" value="one">
    </div>

    <div>
      <label for="option2">Option 2</label>
      <input type="radio" name="group" id="option2" v-model="picked" value="two">
    </div>
    <div>
      <label for="option3">Option 3</label>
      <input type="radio" name="group" id="option3" v-model="picked" value="three">
    </div>
    <p>Selected Option: {{ picked }}</p>
  </div>
</template>

<style scoped>

</style>