<script setup>
import { ref } from 'vue';

// data
const text = ref('b');
</script>

<template>
  <div class="component">
    <h2>MySelect</h2>
    <select v-model="text">
      <option value="+">+</option>
      <option value="-">-</option>
      <option value="+">*</option>
      <option value="/">/</option>
    </select>
    <p>Rechenzeichen: {{ text }}</p>
  </div>
</template>

<style scoped>

</style>
