<script setup>

import { ref } from 'vue';
import { reactive } from 'vue';

//--------------------Daten-------------------------------------------//
const anzahl = reactive([0, 0, 0, 0, 0, 0]);
const knobel_options = reactive(['schere', 'stein', 'papier']);
const Namen = ['Dovid', 'Alper', 'Moll', 'Corbynian']
const zahl1 = ref(0);
const zahl2 = ref(0);
const rechenoperator = ref('+');

let picked = ref('/');
let ergebnis = ref(0);
let Name = ref('/')
let BesterLehrerName = ref('/');
let ergebnis_schere = ref('/')

//--------------------Funktionen-------------------------------------------//
function wuerfeln() {
  // alles auf 0
  for (let i = 0; i < anzahl.length; i++) {
    anzahl[i] = 0;
  }
  // 600mal wuerfeln
  for (let index = 0; index < 600; index++) {
    const augen = Math.floor(Math.random() * 6) + 1;
    /* 1, 2, 3, 4, 5 oder 6 */
    anzahl[augen - 1]++;
  }
}

function zufaelligerName() {
  const Zufallszahl = Math.floor(Math.random() * (Namen.length));
  Name.value = Namen[Zufallszahl];
}

function SchereSteinPapier(gegenstand) {
  const computer_wahl = Math.floor(Math.random() * (knobel_options.length));
  if (gegenstand == knobel_options[computer_wahl]){             //Steigt bei allen unentschieden hier aus
    ergebnis_schere.value = 'Untentschieden'
  }
 else if(gegenstand == 'schere'){
      if(knobel_options[computer_wahl] === 'papier'){
        ergebnis_schere.value = 'gewonnen'
      }  //PSA: hier kein ; am ende, geht sonst nich
      else{
        ergebnis_schere.value = 'verloren, ich hatte stein'
      }
  }
  else if(gegenstand == 'stein'){
    if(knobel_options[computer_wahl] === 'schere'){
        ergebnis_schere.value = 'gewonnen'
      }
    else{ 
        ergebnis_schere.value = 'verloren, ich hatte papier'
      }
  }
  else{     // gegenstand kann hier nur papier sein
    if(knobel_options[computer_wahl] === 'stein'){
        ergebnis_schere.value = 'gewonnen'
      }
    else{
        ergebnis_schere.value = 'verloren, ich hatte schere'
      };
  }
}

function rechnen(){
  /* if (rechenoperator.value == '+'){
    ergebnis.value = Number(zahl1.value) + Number(zahl2.value)
  }
  if (rechenoperator.value == '-'){
    ergebnis.value = Number(zahl1.value) - Number(zahl2.value)
  }
  if (rechenoperator.value == '*'){
  ergebnis.value = Number(zahl1.value) * Number(zahl2.value)
  }
  if (rechenoperator.value == '/'){
  ergebnis.value = Number(zahl1.value) / Number(zahl2.value)
  } */
  let rechenstring = `${Number(zahl1.value)} ${rechenoperator.value} ${Number(zahl2.value)}`
  ergebnis.value = eval(rechenstring)
}
</script>

<template>
  <div class="app">
    <header>
      <h1>App</h1>
    </header>

    <main>
      <div class="component">
        <h2>Zahl1</h2>
        <span>-5</span><input type="range" min="-5" max="5" v-model="zahl1"><span>5</span>
        <p>Zahl: {{ zahl1 }}</p>
      </div>

      <div class="component">
        <h2>Zahl2</h2>
        <span>-5</span><input type="range" min="-5" max="5" v-model="zahl2"><span>5</span>
        <p>Zahl: {{ zahl2 }}</p>
      </div>

      <div class="component">
        <h2>Rechenzeichen</h2>
        <select v-model="rechenoperator">
          <option value="+">+</option>
          <option value="-">-</option>
          <option value="*">*</option>
          <option value="/">/</option>
        </select>
        <p>Rechenzeichen: {{ rechenoperator }}</p>
      </div>

      <div class="component">
        <h2>Rechnen-Button</h2>
        <p>Ergebnis: {{ ergebnis }}</p>
        <button @click="rechnen">Rechnen</button>
      </div>

      <div class="component">
        <h2>Math Zufällig</h2>
        <p>Namen Liste: {{ Namen}}</p>
        <p >Name: {{ Name }}</p >
        <button @click="zufaelligerName">Zufälliger Name</button>
      </div>

      <div class="component">
        <h2>Bester Lehrer</h2>
        <div><label for="option1">Kohnle</label>
          <input type="radio" name="group" id="option1" v-model="BesterLehrerName" value="Volltreffer">
        </div>
        <div>
          <label for="option2">Hohaus</label>
          <input type="radio" name="group" id="option2" v-model="BesterLehrerName" value="Fast">
        </div>
        <div>
          <label for="option3">Wagmann</label>
          <input type="radio" name="group" id="option3" v-model="BesterLehrerName" value="Niete!!!">
        </div>
        <p>Lösung: {{ BesterLehrerName }}</p>
      </div>

      <div class="component">
        <h2>Würfel</h2>
        <ul>
          <li v-for="(n, index) in anzahl">{{ index + 1 }}er: {{ n }}</li>
        </ul>
        <button @click="wuerfeln">Würfeln</button>
      </div>
      
      <div class="component">
        <h2>Schere Stein Papier</h2>
        <p >Du hast: {{ ergebnis_schere }}</p >
        <button @click="SchereSteinPapier('schere')">Schere</button>
        <button @click="SchereSteinPapier('stein')">Stein</button>
        <button @click="SchereSteinPapier('papier')">Papier</button>
      </div>
    </main>
  </div>
</template>

<style scoped>
.app {
  background-color: yellow;
  box-shadow: 2px 2px 2px black;
  padding-bottom: 1em;
}

h1 {
  padding: 0.5em;
  text-shadow: 2px 2px 2px white;
}

button {
  width: 80%;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

</style>

